

.test-ng-form {
    margin: 1em auto;
    max-width: 400px;
    padding: 2em 1em;
    outline: 1px solid #ccc;
    background-color: white;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    label {
        display: flex;
        gap: 0.5rem;
        flex-direction: column;
        color: gray;

        & .error {
            color: red;
            font-size: 0.875em;
        }
    }

    input {
        padding: 0.5em;
        font-size: 1em;
        border-width: 3px;
        border-radius: 0.25em;
    }

    button[type="submit"] {
        padding: 0.5em;
        font-size: 1em;
        border: none;
        border-radius: 0.25em;

        &:hover {
            background-color: #007bff;
            color: white;
            cursor: pointer;
        }

        &.form-invalid {
            background-color: #ccc;
            color: #666;
            border: 1px solid gainsboro;
        }
    }
}

.form-result {
    margin: 1em auto;
    max-width: 400px;
    padding: 1em;
    outline: 1px solid #ccc;
    background-color: white;
    border-radius: 1em;
    pre {
        background-color: #f0f0f0;
        padding: 1em;
        border-radius: 0.5em;
        overflow-x: auto;
    }
}