#menu:popover-open {
  display: flex;
}

#menu:popover-open + .user-button {
    background: dodgerblue;
    color: white;
    border-color: white;
} 

.user-button {
    anchor-name: --user;
    background: none;
    border: 1px solid #111;
    border-radius: 3px;
    color: inherit;
}

#menu {
    position: absolute;
    position-anchor: --user;
    inset: auto;
    /* position-area: bottom; */
    top: anchor(bottom);
    left: anchor(left);
    margin-top: 1px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    display: none;
    flex-wrap: wrap;
    place-content: center;
    gap: 10px;
    max-width: 200px;
    min-width: 100px;
}

.card {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

.card input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

.card:has(input[type="checkbox"]:checked) {
  background: dodgerblue;
  color: #fff;
}

.month-selected {
  outline: 3px solid dodgerblue;
  border: none;
}

