.mansonry-grid {
  box-sizing: border-box;
  width: calc(100vw - 2em);
  padding: 1em;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr) minmax(150px, 2fr)) minmax(150px, 1fr);
  
  justify-items: center; 
  align-items: center;

}

/* .mansonry-grid {
  display: grid-lanes;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
} */

/* .mansonry-grid {
  display: masonry; 
  masonry-template-tracks: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1em;
} */

/* @scroll-timeline fade {
  source: auto;
  orientation: block;
} */

.tile {
  position: relative;
  background: whitesmoke;
  padding: 1em;
  border-radius: 8px;
  border: 1px solid gainsboro;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .title {
    font-weight: bold;
    margin-bottom: 0.5em;
    border-bottom: 1px solid gainsboro;
  }

  .content {
    font-size: 14px;
    line-height: 1.5;
    padding: 1em;;
  }

  .height-label {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    font-size: small;
    color: gray;
  }
}